# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OSX
*.DS_Store
OSXDebug/**
OSXRelease/**

# linux
LinuxDebug/**
LinuxRelease/**
